.waterItem {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: var(--cw);
	border-radius: 15px;
	padding: 18px 14px;
	backdrop-filter: blur(16.799999237060547px);
}

.iconWaterWrapp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
}
.iconWater {
	width: 100%;
	height: 100%;
}

.waterInfo {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.waterAmount {
	font-weight: 700;
	line-height: 1;
}
.waterTime {
	font-size: 12px;
	line-height: 1;
	color: var(--rcb);
}

.buttonsBox {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.editBtn,
.deleteBtn {
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 150ms ease-in;
	&:hover .iconAction,
	&:focus .iconAction {
		stroke: var(--cg);
	}
}
.iconAction {
	fill: none;
	stroke: var(--cy);
	transition: all 150ms ease-in;
}

@media screen and (min-width: 768px) {
	.waterItem {
		padding: 20px;
		gap: 20px;
	}
	.iconWaterWrapp {
		width: 45px;
		height: 45px;
	}

	.waterInfo {
		gap: 0px;
	}
	.waterAmount {
		font-size: 15px;
		line-height: 1.49;
	}
	.waterTime {
		line-height: 1.87;
	}

	.buttonsBox {
		gap: 14px;
	}
	.editBtn,
	.deleteBtn {
		width: 16px;
		height: 16px;
	}
}
