.waterProgressBar {
  border-radius: 15px;
  padding: 12px;
  width: 198px;
  height: 70px;
  background-color: var(--cw);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
