.main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background-color: var(--cw);
}

.title {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	line-height: 90px;
	text-shadow:
		0px 2px 2px rgba(0, 0, 0, 0.1),
		0px 2px 0px rgba(255, 255, 255, 0.3);
	background-image: -webkit-radial-gradient(
		center 10px,
		80px 100px,
		#aaa 50%,
		#87d28d 51%
	);
	background-size: 40px 130px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation-name: water-animation;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes water-animation {
	0% {
		background-position: 200px 25px;
	}
	50% {
		background-position: 100px -20px;
	}
	100% {
		background-position: 0px -40px;
	}
}

.details {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
