.waterListSec {
	position: relative;
	overflow: hidden;
	height: 130px;
}
.waterListbody {
	position: absolute;
	max-width: 303px;
}
.waterList {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 24px 0;
	overflow-x: auto;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		height: 8px;
		border-radius: 9px;
		background-color: var(--cw);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--cy);
		border-radius: 9px;
	}
}

.defWaterBlock {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	div {
		width: 100%;
		height: calc(100% - 24px);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--cu);
		border-radius: 15px;
		box-shadow: inset 0px 0px 30px -20px rgba(66, 68, 90, 1);
	}
	span {
		color: var(--cg);
		font-size: 18px;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		text-shadow: 2px 2px 1px rgba(129, 177, 139, 1);
	}
}

@media screen and (min-width: 768px) {
	.waterListSec {
		height: 145px;
	}
	.waterListbody {
		max-width: 640px;
	}
	.waterList {
		gap: 32px;
	}

	.defWaterBlock {
		span {
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 1440px) {
	.waterListbody {
		max-width: 608px;
	}
	.waterList {
		gap: 16px;
	}
}
