.waterListSec {
	position: relative;
	overflow: hidden;
	height: 130px;
}
.waterListbody {
	position: absolute;
	max-width: 303px;
}
.waterList {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 24px 0;
	overflow-x: auto;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		height: 8px;
		border-radius: 9px;
		background-color: var(--cw);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--cy);
		border-radius: 9px;
	}
}

@media screen and (min-width: 768px) {
	.waterListSec {
		height: 145px;
	}
	.waterListbody {
		max-width: 640px;
	}
	.waterList {
		gap: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.waterListbody {
		max-width: 608px;
	}
	.waterList {
		gap: 16px;
	}
}
