.contacts {
	display: flex;
	justify-content: center;
	gap: 200px;
}
.search {
	background-color: rgba(0, 0, 0, 0.154);
	border-radius: 10px;
	padding: 20px 20px 40px 20px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
