.userBarPopover {
	position: absolute;
	top: 100%;
	width: 100%;
	border-radius: 15px;
	background-color: var(--cw);
	z-index: 100;
	margin-top: 4px;
	padding: 14px 20px;
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.userBarPopoverList {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.userBarPopoverItem {
	color: var(--rcy);
	transition: all 150ms ease-in;
}

.iconWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 16px;
	width: 16px;
}
.iconPopover {
	height: 100%;
	width: 100%;
	stroke: var(--rcy);
	fill: none;
	transition: all 150ms ease-in;
}

.userBarPopoverButton {
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 8px;
}

.userBarPopoverItem.active,
.userBarPopoverItem:hover,
.userBarPopoverItem:focus-within {
	color: var(--cy);
}

.iconPopover.activeIcon,
.userBarPopoverItem:hover .iconPopover,
.userBarPopoverItem:focus-within .iconPopover {
	stroke: var(--cy);
}

@media screen and (min-width: 768px) {
	.userBarPopover {
		margin-top: 8px;
	}

	.userBarPopoverButton {
		line-height: 1.49;
		font-size: 15px;
	}
}
