.showPwdBtn {
	width: 20px;
	height: 20px;
	display: none;
	position: absolute;
	top: 18px;
	right: 16px;
}

.eye {
	display: inline-block;
	stroke-width: 1;
	stroke: rgba(47, 47, 47, 1);
	fill: rgba(240, 239, 244, 1);
}

@media screen and (min-width: 768px) {
	.showPwdBtn {
		display: block;
	}
}
