.login {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	transition: transform 0.2s ease;
	background-color: rgba(0, 0, 0, 0.154);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.formbody {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	div {
		position: relative;
	}
}
.label {
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
}
.input {
	display: block;
	color: #fff;
	padding: 0 15px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	background-color: #1d1d1d;
	border: 1px solid #494949;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	&:focus {
		background-color: #232323;
	}
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
.errorInput {
	border: 1px solid #ff0000;
}
.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-size: 14px;
	color: #ff0000;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border: none;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	box-shadow:
		0px 5px 10px 0px rgba(0, 0, 0, 0.5),
		0 0 30px rgba(0, 0, 0, 0.3) inset;
	background-color: #36383b;
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: #3b5252;
	}
}
