.logo {
	position: absolute;
	top: 24px;
	left: 16px;
	color: var(--cy);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -0.18px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.logo {
		top: 32px;
		left: 32px;
		font-size: 24px;
		line-height: 1;
		letter-spacing: -0.24px;
	}
}
