.logo {
	color: var(--cy);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -0.18px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.logo {
		font-size: 24px;
		line-height: 1;
		letter-spacing: -0.24px;
	}
}
