.welcomeText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.06em;
  color: var(--cy);
  margin-bottom: 16px;
}
.welcomeTitle {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.welcomeBtns {
  display: flex;
  gap: 10px;
}

.signInBtn {
  border: 1px solid var(--cy);
  border-radius: 30px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(---cy);
  background-color: var(--cu);
  transition: all 150ms ease-in;
  &:hover,
  &:focus {
    color: var(--cn);
    border-color: var(--cn);
  }
  &:disabled {
    color: var(--cy);
    border-color: var(--cy);
  }
}

@media screen and (min-width: 768px) {
  .welcomeText {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
  }

  .welcomeTitle {
    font-size: 64px;
    line-height: 1.09;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
  }

  .welcomeBtns {
    gap: 16px;
  }

  .signInBtn {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    padding: 18px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeTitle {
    font-size: 80px;
    line-height: 0.95;
  }
}
