.wrapp {
	position: relative;
	padding: 216px 16px;
	border-radius: 30px;
	background-color: var(--cu);
}

@media screen and (min-width: 768px) {
	.wrapp {
		padding: 281px 134px;
	}
}

@media screen and (min-width: 1440px) {
	.wrapp {
		padding: 169px 118px;
	}
}
