.wrapp {
	position: relative;
	padding: 0 16px;
	border-radius: 30px;
	background-color: var(--cu);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 780px;
	// height: 100%;
	// max-height: 780px;
}

@media screen and (min-width: 768px) {
	.wrapp {
		height: 960px;
		padding: 0 134px;
	}
}

@media screen and (min-width: 1440px) {
	.wrapp {
		height: 736px;
		padding: 0 118px;
	}
}
