.calendarWrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 18px;
}

@media screen and (min-width: 768px) {
	.calendarWrapper {
		row-gap: 15px;
		column-gap: 48px;
	}
}

@media screen and (min-width: 1440px) {
	.calendarWrapper {
		row-gap: 15px;
		column-gap: 42px;
	}
}
