.nav {
	display: flex;
	gap: 1px;
	height: 100%;
}
.link {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) inset;
	padding: 0 20px;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: #36383b;
	transition: 150ms background-color;
	&:hover {
		background-color: #3b5252;
	}
}
.active {
	background-color: #3b5252;
}
