body {
	overflow: hidden;
}

.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--rcb);
	display: grid;
	justify-content: center;
	align-items: center;
	z-index: 100;
	padding: 80px 16px;
	overflow-y: auto;
}

.content {
	position: relative;
	width: 100%;
	background-color: var(--cw);
	color: var(--cy);
	padding: 40px 20px;
	border-radius: 15px;
	box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.closebutton {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	right: 16px;
	width: 24px;
	height: 24px;
}

.icon {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.backdrop {
		padding: 64px 0;
	}
	.content {
		padding: 40px;
	}
	.closebutton {
		top: 40px;
		right: 40px;
		width: 28px;
		height: 28px;
	}
}
