.wrapp {
  position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  border-radius: 30px;
  background-color: var(--cg);
  height: 415px;
}

// .bg {
//   background-image: url('../../img/content/bottle@x1.png');
//   background-repeat: no-repeat;
//   background-size: 335px;
//   width: 262px;
//   background-position: center;
// }
