.wrapp {
  position: relative;
  border-radius: 30px;
  background-color: var(--cg);
  min-height: 415px;
  display: flex;
  justify-content: center;
}

.waterInfocard {
  display: flex;
  align-items: center;
  margin-top: 50px;
  object-fit: cover;
}
.waterInfoImg {
  min-width: 262px;
  min-height: 335px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .wrapp {
    min-height: 578px;
  }

  .waterInfocard {
    margin-top: 69px;
  }
  .waterInfoImg {
    min-width: 374px;
    min-height: 477px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapp {
    min-height: 736px;
  }

  .waterInfocard {
    margin-top: 92px;
  }
  .waterInfoImg {
    min-width: 472px;
    min-height: 604px;
  }
}
