.userBar {
	position: relative;
	width: fit-content;
}

.userBarButton {
	background-color: var(--cy);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--cw);
	padding: 6px 12px;
	gap: 8px;
	font-weight: 700;
}

.avatarWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--cu);
	height: 38px;
	width: 38px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.iconArrowWrapp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
}
.iconArrowUp {
	height: 100%;
	width: 100%;
	fill: none;
	stroke: var(--cw);
	transition: all 150ms ease-in;
}

.iconArrowUp.rotate {
	transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
	.userBarButton {
		gap: 10px;
	}

	.avatarWrapper {
		width: 44px;
		height: 44px;
	}

	.iconArrowWrapp {
		width: 20px;
		height: 20px;
	}
}
