.paginationWrapper {
	display: flex;
	align-items: center;
	.chooseMonthWrapper {
		display: flex;
		gap: 10px;
	}
	.calendarArrowIcon {
		fill: transparent;
		stroke: var(--cy);
		transition: transform 100ms ease-in-out;
	}

	.dateTitleBox {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 3px;
		width: 75px;
		overflow: hidden; 
	}

	.calendarArrowIconLeft,
	.calendarArrowIconRight {
		@extend .calendarArrowIcon;
	}
	.dateTitle {
		font-size: 14px;
		font-weight: 700;
		line-height: 1.28;
		letter-spacing: -0.01em;
		display: flex;
		align-items: center;
		gap: 4px;
	}
	.previousMonthBtn,
	.nextMonthBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		&:disabled {
			cursor: default;
			opacity: 0.5;
		}
	}
	.previousMonthBtn {
		&:hover,
		&:focus {
			.calendarArrowIconLeft {
				transform: scale(1.3);
			}
		}
	}
	.nextMonthBtn {
		&:hover,
		&:focus {
			.calendarArrowIconRight {
				transform: scale(1.3);
			}
		}
	}
	.statisticsButton {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 16px;
	}
	.iconStatistics {
		fill: var(--cw);
		width: 20px;
		right: 20px;
		opacity: 0.4;
		transition: all 150ms ease-in;
	}
	.iconStatistics.active,
	.iconStatistics:hover,
	.iconStatistics:focus-within {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.paginationWrapper {
		.dateTitleBox {
			gap: 3px;
			width: 85px;
		}
		.chooseMonthWrapper {
			gap: 15px;
		}
		.dateTitle {
			font-size: 16px;
			line-height: 1.5;
		}
		.statisticsButton {
			margin-left: 20px;
		}
	}
}

.dateTitleEnter {
  opacity: 0;
  transform: translateY(20px);
}

.dateTitleEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}

.dateTitleExit {
  opacity: 1;
  transform: translateY(0);
}

.dateTitleExitActive {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 200ms ease-in-out;
}
