* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	position: relative;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

a {
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
	padding: 0;
	background-color: transparent;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

input {
	outline: none;
	border: none;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	outline: none;
	border: none;
}

select {
	outline: none;
	border: none;
}

b,
strong {
	font-family: var(--ff1);
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

main {
	flex-grow: 1;
}

.cover {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contain {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
