html,
body {
	font-family: var(--ff1);
	color: var(--cy);
	font-size: 14px;
	line-height: 1.28;
	background-color: var(--cw);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container {
	max-width: 375rem;
	padding: 0 16px;
	margin: 0 auto;
}

/* --------- Adaptive tablet (768px) --------- */

@media screen and (min-width: 768px) {
	html,
	body {
		font-size: 16px;
		line-height: 1.5;
	}

	.container {
		max-width: 768px;
		padding: 0 32px;
	}
}

/* --------- Adaptive desktop (1440px) --------- */

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
	}
}
