.btn-def {
	display: block;
	width: fit-content;
	padding: 14px 19px;
	color: var(--cy);
	font-weight: 700;
	letter-spacing: -0.01em;
	border-radius: 30px;
	background-color: var(--cg);
	transition: all 150ms ease-in;
	&:hover,
	&:focus {
		background-color: var(--cn);
	}
}

@media screen and (min-width: 768px) {
	.btn-def {
		padding: 18px 40px;
	}
}

@media screen and (min-width: 1440px) {
}
