body {
	/* Colors */
	--cw: #fff;
	--cu: #f0eff4;
	--cq: #e6e6e6;
	--ch: #bcbcbc;
	--cg: #9be1a0;
	--cn: #87d28d;
	--cy: #323f47;
	--cb: #2f2f2f;
	--cr: #ef5050;
	--cp: #fddf72;
	--co: #d5a90b;

	--rcp: rgba(47, 47, 47, 0.15);
	--rcl: rgba(50, 63, 71, 1);
	--rck: rgba(50, 63, 71, 0.2);
	--rcm: rgba(47, 47, 47, 0.2);
	--rcy: rgba(50, 63, 71, 0.4);
	--rcn: rgba(50, 63, 71, 0.4);
	--rcw: rgba(47, 47, 47, 0.4);
	--rcg: rgba(47, 47, 47, 0.5);
	--rcb: rgba(47, 47, 47, 0.6);

	/* Colors Dark */
	--dcu: #f0eff4;
	--dcy: #fff;
	--dcw: #fff;
	--dcq: #323f47;
	--dcb: #2f2f2f;
	// --dch: #fff;

	--drcg: rgba(47, 47, 47, 0.5);
	--drcm: rgba(47, 47, 47, 0.2);
	--drcw: rgba(47, 47, 47, 0.4);
	--drcb: rgba(47, 47, 47, 0.6);
	--drcn: rgba(50, 63, 71, 0.4);
	--drco: rgba(47, 47, 47, 0.6);

	/* Fonts */
	--ff1: "Poppins", sans-serif;
	--ff2: "Gilroy", sans-serif;
}

body.dark {
	--dcu: #8ea0b8;
	--dcy: #323f47;
	--dcw: #8ea0b8;
	--dcq: #fff;
	--dcb: #f0eff4;
	// --dch: #2f2f2f;

	--drcg: #e6e6e6;
	--drcm: #f0eff4;
	--drcw: #bcbcbc;
	--drcb: #f0eff4;
	--drcn: #bcbcbc;
	--drco: #d9d9d9;
}
