body {
	/* Colors */
	--cw: #fff;
	--cu: #f0eff4;
	--cg: #9be1a0;
	--cn: #87d28d;
	--cy: #323f47;
	--cb: #2f2f2f;

	--rcb: rgba(47, 47, 47, 0.6);
	--rcy: rgba(50, 63, 71, 0.4);

	/* Fonts */
	--ff1: "Poppins", sans-serif;
	--ff2: "Gilroy", sans-serif;
}
