body {
	/* Colors */
	--cw: #fff;
	--cu: #f0eff4;
	--cg: #9be1a0;
	--cy: #323f47;
	--cb: #2f2f2f;

	color: var(--cw);
	font-family: var(--ff2);

	/* Fonts */
	--ff1: "Poppins", sans-serif;
	--ff2: "Gilroy", sans-serif;
}
