.section {
	padding: 10px 0;
}

/* --------- Adaptive tablet (768px) --------- */

@media screen and (min-width: 768px) {
	.section {
		padding: 20px 0;
	}
	.container {
		padding: 0 50px;
	}
}

/* --------- Adaptive desktop (1152px) --------- */

@media screen and (min-width: 1152px) {
	.section {
		padding: 30px 0;
	}
	.container {
		padding: 0 80px;
	}
}

/* --------- Adaptive desktop (1440px) --------- */

@media screen and (min-width: 1440px) {
	.section {
		padding: 40px 0;
	}
	.container {
		padding: 0 100px;
	}
}

/* --------- Adaptive desktop (1920px) --------- */

@media screen and (min-width: 1920px) {
	.section {
		padding: 50px 0;
	}
	.container {
		padding: 0 120px;
	}
}
