.signUpBody {
	width: 100%;
}

.signUpTitle {
	font-size: 32px;
	letter-spacing: -0.01em;
	margin-bottom: 32px;
	line-height: 1;
}

.signUpForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	.emailLabel,
	.passwordLabel {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 8px;
		line-height: 1.28;
		color: var(--cb);
		display: block;
		width: 100%;
		letter-spacing: -0.01em;
	}
	.inputBaseStyles {
		width: 100%;
		height: 50px;
		font-size: 14px;
		line-height: 1.28;
		color: var(--cb);
		border: 1px solid var(--rcm);
		background-color: transparent;
		letter-spacing: -0.01em;
		border-radius: 15px;
		padding: 16px;
		transition: border-color 150ms ease-in;
	}
	.inputBaseStyles:hover,
	.inputBaseStyles:focus {
		border: 1px solid var(--rcw);
	}

	.inputPasswordWrapper {
		position: relative;
		width: 100%;
		margin-bottom: 32px;
	}
	.inputPasswordWrapperError {
		margin-bottom: 10px;
	}
	.emailInput {
		@extend .inputBaseStyles;
		margin-bottom: 16px;
		transition:
			border 150ms ease-in,
			box-shadow 150ms ease-in;
		&:focus {
			border: 1px solid var(--rcw);
			box-shadow: 0px 5px 14px -9px rgba(66, 68, 90, 1);
		}
	}
	.passwordInput {
		@extend .inputBaseStyles;
		transition:
			border 150ms ease-in,
			box-shadow 150ms ease-in;
		&:focus {
			border: 1px solid var(--rcw);
			box-shadow: 0px 5px 14px -9px rgba(66, 68, 90, 1);
		}
	}
	.errorInput {
		color: var(--cr);
		border: 1px solid var(--cr);
		&:focus {
			border: 1px solid var(--cr);
		}
	}
	.errorEmailInput {
		@extend .errorInput;
		margin-bottom: 10px;
	}
	.errorPasswordInput {
		@extend .errorInput;
	}
	.errorMessage {
		color: var(--cr);
		font-size: 14px;
		line-height: 1.28;
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}
	.showPwdBtn {
		width: 20px;
		height: 20px;
		display: none;
		position: absolute;
		top: 18px;
		right: 16px;
	}
	.eye {
		display: inline-block;
		stroke-width: 1;
		stroke: rgba(47, 47, 47, 1);
		fill: rgba(240, 239, 244, 1);
	}
	.btnSignUp {
		position: relative;
		width: 100%;
	}
	.btnSignUp:hover,
	.btnSignUp:focus {
		background-color: var(--cn);
	}
	.btnSignUp:active {
		color: var(--ch);
		background-color: var(--cq);
	}
}

.questionText {
	line-height: 1.28;
	letter-spacing: -0.01em;
	margin-top: 16px;
	color: var(--rcg);
	text-align: center;
}
.signInLink {
	font-family: var(--ff1);
	font-weight: 700;
	color: var(--cb);
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

@media screen and (min-width: 768px) {
	.signUpTitle {
		font-size: 36px;
		line-height: 1.05;
	}
	.signUpForm {
		.emailLabel,
		.passwordLabel {
			font-size: 16px;
			line-height: 1.5;
		}
		.inputBaseStyles {
			height: 56px;
			font-size: 16px;
			line-height: 1.5;
		}
		.emailInput {
			margin-bottom: 20px;
			padding-right: 45px;
		}
		.passwordInput {
			padding-right: 45px;
		}
		.showPwdBtn {
			display: block;
		}
		.errorEmailInput {
			margin-bottom: 10px;
		}
		.errorMessage {
			font-size: 16px;
			line-height: 1.5;
			width: 100%;
		}
	}
	.questionText {
		font-size: 16px;
		line-height: 1.5;
	}
	.signInLink {
		font-size: 16px;
		line-height: 1.5;
	}
}
