.signInTitle {
  font-size: 32px;
  margin-bottom: 32px;
  line-height: 1;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  .emailLabel,
  .passwordLabel {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.28;
    color: #2f2f2f;
    display: inline-block;
    width: 100%;
  }
  .inputBaseStyles {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 1.28;
    color: #2f2f2f;
    border: 1px solid rgba(47, 47, 47, 0.2);
    background-color: var(--cu);
    border-radius: 15px;
    padding: 16px 0 16px 16px;
  }
  .inputBaseStyles::placeholder {
    color: #2f2f2f99;
  }
  .emailInput {
    @extend .inputBaseStyles;
    margin-bottom: 16px;
  }
  .passwordInput {
    @extend .inputBaseStyles;
    margin-bottom: 32px;
    // opacity: 0;
    // visibility: hidden;
    // display: none;
    // position: relative;
  }
  // .inputPasswordMask {
  //   @extend .inputBaseStyles;
  //   margin-bottom: 32px;
  // }
  .errorInput {
    color: #ef5050;
    border: 1px solid #ef5050;
  }
  .errorEmailInput {
    @extend .errorInput;
    margin-bottom: 10px;
  }
  .errorPasswordInput {
    @extend .errorInput;
    margin-bottom: 10px;
  }
  .errorMessage {
    color: #ef5050;
    font-size: 14px;
    line-height: 1.28;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
  .btnSignIn {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 700;
    background-color: var(--cg);
    border-radius: 30px;
    transition: background-color, 150ms ease-in-out;
  }
  .btnSignIn:hover,
  .btnSignIn:focus {
    background-color: #87d28d;
  }
  .btnSignIn:active {
    color: #bcbcbc;
    background-color: #e6e6e6;
    border: none;
  }
  .closedEye {
    background-color: black;
    stroke: white;
    fill: white;
  }
  .openedEye {
    background-color: black;
    stroke: white;
    fill: white;
  }
}

.questionText {
  font-family: var(--ff2);
  color: var(--rcb);
  text-align: center;
}
.signUpLink {
  font-family: var(--ff1);
  font-weight: 700;
  color: var(--cb);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

@media screen and (min-width: 768px) {
  .signInForm {
    .emailLabel,
    .passwordLabel {
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
    }
    .inputBaseStyles {
      width: 100%;
      height: 56px;
      font-size: 16px;
      line-height: 1.5;
    }
    .emailInput {
      margin-bottom: 20px;
    }
    .btnSignIn {
      width: 100%;
      height: 60px;
      font-size: 16px;
      line-height: 1.5;
    }
    .errorEmailInput {
      margin-bottom: 10px;
    }
    .errorMessage {
      font-size: 16px;
      line-height: 1.5;
      width: 100%;
    }
  }
  .questionText {
    font-size: 16px;
    line-height: 1.5;
  }
  .signUpLink {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
  }
}
