.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--rcb);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  z-index: 1001;
  padding: 80px 16px;
  overflow-y: auto;
  animation: fadeIn 150ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalContent {
  padding: 40px 20px;
  margin: 80px auto auto;
  position: relative;
  border-radius: 15px;
  background-color: var(--cw);
  width: 100%;
  max-width: 344px;
}

.buttonClose {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.icon {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .modalContent {
    padding: 40px;
    max-width: 920px;
  }

  .buttonClose {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 28px;
    height: 28px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
