.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--rcb);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  z-index: 200;
  padding: 80px 0;
  overflow-y: auto;
  animation: fadeIn 200ms ease-in;
}

.overlayAfterOpen {
  animation: fadeIn 200ms ease-in forwards;
}

.overlayBeforeClose {
  animation: fadeOut 200ms ease-out forwards;
}

.bodyDef {
  width: 100%;
  padding: 40px 20px;
  position: relative;
  border-radius: 15px;
  background-color: var(--cw);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.buttonClose {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.icon {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 64px 0;
  }
  .bodyDef {
    padding: 40px;
  }
  .buttonClose {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 28px;
    height: 28px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
