.languages {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 1000;
}

.languageBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform var(--animation, 0.2s ease-in-out);
}

.languageBtn:hover,
.languageBtn:active {
  transform: scale(1.2);
}

.iconFlag {
  width: 18px;
  height: 18px;
}

.line {
  font-size: 18px;
}

@media (min-width: 768px) {
  .iconFlag {
    width: 24px;
    height: 24px;
  }

  .line {
    font-size: 25px;
  }
}

@media (min-width: 1440px) {
  .iconFlag {
    width: 30px;
    height: 30px;
  }

  .line {
    font-size: 30px;
  }
}
