.btnDayWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  .btn100Percent {
    width: 28px;
    height: 28px;
    background-color: var(--cw);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    &:hover,
    &:focus {
      background-color: rgba(50, 63, 71, 1);
      color: var(--cg);
    }
  }
  .btnNot100Percent {
    background-color: rgba(50, 63, 71, 0.2);
  }
  .day {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.01em;
  }
  .percent {
    color: rgba(47, 47, 47, 0.6);
    font-size: 10px;
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .btnDayWrapper {
    gap: 4px;
    .btn100Percent {
      width: 38px;
      height: 38px;
    }
    .day {
      font-size: 16px;
      line-height: 1.5;
    }
    .percent {
      font-size: 12px;
      line-height: 1.83;
    }
  }
}
