.dailyNormaSection {
	position: absolute;
	top: 122px;
	left: 16px;
	border-radius: 15px;
	padding: 12px;
	background-color: var(--dcy);
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}
.dailyNormaValue {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: var(--dcq);
	margin-bottom: 6px;
}
.normaDescr {
	font-size: 10px;
	line-height: 1;
	color: var(--drcb);
}

@media screen and (min-width: 768px) {
	.dailyNormaSection {
		top: 157px;
		left: 32px;
		padding: 14px 18px;
	}
	.dailyNormaValue {
		font-size: 15px;
		line-height: 1.49;
		margin-bottom: 4px;
	}
	.normaDescr {
		font-size: 12px;
		line-height: 1.87;
	}
}

@media screen and (min-width: 1440px) {
	.dailyNormaSection {
		left: 64px;
	}
}
