.usermenu {
	display: flex;
	align-items: center;
	height: 100%;
}
.name {
	padding: 0 20px;
	font-weight: 700;
	text-decoration: underline;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	padding: 0 20px;
	height: 100%;
	background-color: #36383b;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) inset;
	transition: 150ms background-color;
	&:hover {
		background-color: #833c3c;
	}
}
